@model IEnumerable<OgrenciDers>
@{
    ViewData["Title"] = "alinanDersler";
    int ogrenciid = (int)ViewBag.OgrenciId;
}

<h1>Öğrencinin Aldığı Dersler</h1>
<!--<a asp-action="OgrenciDersEkle" asp-controller="OgrenciDersleri" class="btn btn-dark">Ogrenci icin Ders ekle</a>
<table class="table">
    <thead>
        <tr>
            <th>ogrenciid</th>
            <th>dersid</th>
            <th>Ders Adı</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Ogrenciid</td>
                <td>@item.Dersid</td>
                <td>@item.ders.Dersad</td>
            

            </tr>
        }
    </tbody>
</table>-->

<a asp-action="OgrenciDersEkle" asp-controller="OgrenciDersleri" asp-route-ogrenciid="@ogrenciid" class="btn btn-outline-dark">Öğrenci İçin Ders Ekle</a>
<table class="table table-striped table-bordered table-hover table-secondary">
    <thead class="table-dark">
        <tr>
            <th>Ogrenci Id</th>
            <th>Ogrenci Ad</th>
            <th>Ogrenci Soyad</th>
            <th>Ders Id</th>
            <th>Ders Adı</th>
            <th>Ders Kodu</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Ogrenciid</td>
                <td>@item.Ogrenci.Ad</td>
                <td>@item.Ogrenci.Soyad</td>
                <td>@item.Dersid</td>
                <td>@item.ders.Dersad</td>
                <td>@item.ders.DersKodu</td>

            </tr>
        }
    </tbody>
</table>